
.mdb-toc-item-reference {
  padding: .25rem .75rem;
  margin-top: 1rem;
  //margin-bottom: 1rem;
}

.bd-search {
  .form-control {
    background-color: transparent;
    &:focus {
      background-color: transparent;
    }
  }
}
