// This is the main scss file, provided as an underscored file so that variable contexts remain in-tact when importing from the source.
@import "variables";
@import "mixins";
@import "core-bootstrap"; // FIXME: V4 SCSS inclusion via an underscored file https://github.com/twbs/bootstrap/issues/18350

@import "reboot";

@import "layout";
@import "buttons";
@import "checkboxes";
@import "custom-forms";
@import "switches";
@import "radios";
@import "forms";
@import "input-group";
@import "list-group";
@import "tables";
@import "nav";
@import "navbar";
@import "alerts";
@import "progress";
@import "pagination";
@import "type";
@import "popover";
@import "cards";
@import "modal";
@import "dropdown";
@import "drawer";
@import "themes";

@import "ripples";

@import "extensions";
