// Implementation specification in https://github.com/FezVrasta/bootstrap-material-design/issues/822

// Drawer.
.mdb-layout-drawer {
  position: absolute;
  z-index: 5; // over a header and content
  box-sizing: border-box;
  display: flex;
  max-height: 100%;

  flex-direction: column;
  flex-wrap: nowrap;
  overflow: visible;
  overflow-y: auto;
  color: $mdb-layout-drawer-text-color;
  background: $mdb-layout-drawer-bg-color;

  // Transform offscreen.
  transition: transform;
  will-change: transform;
  transform-style: preserve-3d;

  @include shadow-2dp();
  @include material-animation-default();

  > * {
    flex-shrink: 0;
  }

  .mdl-navigation {
    flex-direction: column;
    align-items: stretch;
    padding-top: 1rem;
  }
}

//----------------
// Sizing and positioning below here

// for left or right drawers, setup widths, heights and positions
@include mdb-drawer-x-closed($mdb-layout-drawer-x-size);

// for top or bottom drawers, setup widths, heights and positions
@include mdb-drawer-y-closed($mdb-layout-drawer-y-size);

// Marker class for both triggering the opening of the drawer (i.e. javascript #addClass('.mdb-drawer-open')), as well
//  as responsive sizes (i.e. mdb-drawer-open-md will open once the browser is wider than 768px).
//
//
// mdb-drawer-open, mdb-drawer-open-sm, mdb-drawer-open-md, mdb-drawer-open-lg
//  We iterate over the standard grid breakpoints, but we also need styles for the simpler `mdb-drawer-open`
//  without a size (for triggered openings).  Since the xs size is 0, instead of using `mdb-drawer-open-xs`
//  (which is mostly meaningless), we create `mdb-drawer-open` meaning always open.
//
//  NOTE: mdb-drawer-open-* uses media-breakpoint-up()
//
//
// mdb-drawer-closed
//  A marker class that will _force_ the drawer closed regardless of the responsive class present. If (for some
//  strange reason) both mdb-drawer-closed and mdb-drawer-open are present, it appears that the closed option wins.
//
//
// mdb-drawer-overlay, mdb-drawer-overlay-sm, mdb-drawer-overlay-md, mdb-drawer-overlay-lg
//  We iterate over the standard grid breakpoints, but we also need styles for the simpler `mdb-drawer-overlay`.
//  Since the xs size is 0, instead of using `mdb-drawer-overlay-xs`, we create `mdb-drawer-overlay` meaning always overlay.
//
//  NOTE: mdb-drawer-overlay-* uses media-breakpoint-down() - this is because we usually want a responsive overlay to be used in small screen scenarios.
//

//
// Drawer open positioning, and style options (push is default, overlay is optional)
//  - first eliminate positioning or sizing rules if the drawer is already forced closed (which is the default behavior above)
:not(.mdb-drawer-closed) {

  @each $breakpoint in map-keys($grid-breakpoints) {

    // e.g. &, &-sm, &-md, &-lg
    $name: mdb-drawer-breakpoint-name($breakpoint);

    @include mdb-drawer-x-open-up($mdb-layout-drawer-x-size, $breakpoint);
    @include mdb-drawer-y-open-up($mdb-layout-drawer-y-size, $breakpoint);

    //
    // Overlay - left/right responsive overlay classes and marker class
    //
    &.mdb-drawer-overlay {
      #{unquote($name)} { // mdb-drawer-overlay, mdb-drawer-overlay-sm, mdb-drawer-overlay-md, mdb-drawer-overlay-lg

        // x - left/right
        @each $side in (left right) {
          &.mdb-drawer-fixed-#{$side} {

            @if $breakpoint == xs { // overlay marker class (non-responsive)

              // Must double up on the .mdb-drawer-overlay class to increase specificity otherwise the
              //  responsive mdb-drawer-open-* media queries above win (and overlay is ignored)
              &.mdb-drawer-overlay {
                @include mdb-drawer-x-overlay($side)
              }
            } @else {
              @include media-breakpoint-down($breakpoint) { // overlay responsive class
                @include mdb-drawer-x-overlay($side)
              }
            }
          }
        }

        //// y - top/bottom
        @each $side in (top bottom) {
          &.mdb-drawer-fixed-#{$side} {

            @if $breakpoint == xs { // overlay marker class (non-responsive)

              // Must double up on the .mdb-drawer-overlay class to increase specificity otherwise the
              //  responsive mdb-drawer-open-* media queries above win (and overlay is ignored)
              &.mdb-drawer-overlay {
                @include mdb-drawer-y-overlay($side)
              }
            } @else {
              @include media-breakpoint-down($breakpoint) { // overlay responsive class
                @include mdb-drawer-y-overlay($side)
              }
            }
          }
        }
      }
    }
  }
}

//// Example: creates a media responsive kitchen-sink-drawer that pairs with mdb-drawer-open-lg
//@include mdb-drawer-x-closed(500px, ".kitchen-sink-drawer");
//
//.kitchen-sink-drawer:not(.mdb-drawer-closed) {
//  @include mdb-drawer-x-open-up(500px, lg);
//}
// Used with <div class="mdb-layout-container mdb-drawer-fixed-left mdb-drawer-overlay-md mdb-drawer-open-lg kitchen-sink-drawer">

