// http://codepen.io/rosskevin/pen/EPPwRR?editors=110

.switch {
  &,
  label,
  input,
  .mdb-switch-track {
    user-select: none;
  }

  label {
    cursor: pointer;

    // Hide original checkbox
    input[type=checkbox] {
      width: 0;
      height: 0;
      opacity: 0;

      // Handle disabled
      &[disabled],
      fieldset[disabled] & {
        + .mdb-switch-track::after,
        &:checked + .mdb-switch-track::after {
          //background-color: $mdb-label-color;
        }
      }

      + .mdb-switch-track:active::after {
        //box-shadow: 0 1px 3px 1px rgba($black, 0.4), 0 0 0 15px rgba($black, 0.1);
        @include shadow-4dp();
      }

      // Ripple off and disabled
      &:checked + .mdb-switch-track::after {
        left: 15px;
      }
    }

    .mdb-switch-track {
      display: inline-block;
      width: 30px;
      height: 15px;
      margin-right: 15px;
      text-align: left; // Issue #737 horizontal form
      vertical-align: middle;
      content: "";
      background-color: $mdb-mdb-switch-track-color;
      border-radius: 15px;
      transition: background 0.3s ease;

      // Thumb
      &::after {
        position: relative;
        top: -2px;
        left: -5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        background-color: #f1f1f1;
        border-radius: 20px;
        @include shadow-2dp();
        //box-shadow: 0 1px 3px 1px rgba($black, 0.4);
        transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
      }
    }

    // set bg when checked
    input[type=checkbox]:checked {
      + .mdb-switch-track {
        background-color: rgba($mdb-switch-color-checked, (50 / 100)); // Switch bg on

        &::after {
          background-color: $mdb-switch-color-checked; // Handle on
        }

        &:active::after {
          @include shadow-3dp();
          //box-shadow: 0 1px 3px 1px rgba($black, 0.4), 0 0 0 15px rgba($mdb-switch-color-checked, (10 / 100)); // Ripple on
        }
      }
    }
  }
}
