.switch {
  vertical-align: middle;
  &, label, input, .switch-decorator {
    user-select: none;
  }
  label {
    cursor: pointer;
    @include mdb-label-color-inner-focus();

    // Hide original checkbox
    input[type=checkbox] {
      width: 0;
      height: 0;
      opacity: 0;
    }
    .switch-decorator {
      text-align: left; // Issue #737 horizontal form
    }

    // Switch bg off and disabled
    .switch-decorator,
    input[type=checkbox][disabled] + .switch-decorator {
      display: inline-block;
      width: 30px;
      height: 15px;
      margin-right: 15px;
      vertical-align: middle;
      content: "";
      background-color: rgba(80, 80, 80, 0.7);
      border-radius: 15px;
      transition: background 0.3s ease;
    }
    // Handle off
    .switch-decorator::after {
      position: relative;
      top: -2px;
      left: -5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: "";
      background-color: #f1f1f1;
      border-radius: 20px;
      box-shadow: 0 1px 3px 1px rgba($black, 0.4);
      transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    }
    input[type=checkbox] {
      // Handle disabled
      &[disabled] {
        + .switch-decorator::after,
        &:checked + .switch-decorator::after {
          background-color: #bdbdbd;
        }
      }

      + .switch-decorator:active::after,
      &[disabled] + .switch-decorator:active::after {
        box-shadow: 0 1px 3px 1px rgba($black, 0.4), 0 0 0 15px rgba($black, 0.1);
      }

      // Ripple off and disabled
      &:checked + .switch-decorator::after {
        left: 15px;
      }
    }

    // set bg when checked
    input[type=checkbox]:checked {
      + .switch-decorator {
        background-color: rgba($brand-primary, (50 / 100)); // Switch bg on
      }

      + .switch-decorator::after {
        background-color: $brand-primary; // Handle on
      }

      + .switch-decorator:active::after {
        box-shadow: 0 1px 3px 1px rgba($black, 0.4), 0 0 0 15px rgba($brand-primary, (10 / 100)); // Ripple on
      }
    }
  }
}
