@import 'mixins-shared';

@mixin generic-variations-colors($args) {

  $material-color-names: "red" "pink" "purple" "deep-purple" "indigo" "blue" "light-blue" "cyan" "teal" "green" "light-green" "lime" "yellow" "amber" "orange" "deep-orange" "brown" "grey" "blue-grey";
  @each $material-color-name in $material-color-names {
    //// given a color build multiples depths
    //$material-color-numbers: "" "-50" "-100" "-200" "-300" "-400" "-500" "-600" "-700" "-800" "-900" "-A100" "-A200" "-A400" "-A700";
    //@each $material-color-number in $material-color-numbers {
    //  @include generic-variations-color($mixin-name, $extra, $default, $contrast-factor, $material-color-name, $material-color-number)
    //}

    // build a single depth color palette
    $args: map-merge($args, (
            material-color-number: ""
    ));

    @include generic-variations-color($args)
  }
}
