.panel {
  border-radius: 2px;
  border: 0;

  @include variations(unquote(" > .panel-heading"), background-color, $grey-200);
  @extend .shadow-z-1;
}


[class*="panel-"] > .panel-heading {
  color: $darkbg-text;
  border: 0;
}
.panel-default, .panel:not([class*="panel-"]) {
  > .panel-heading {
    color: $lightbg-text;
  }
}
.panel-footer {
  background-color: $grey-200;
}
