body {
  background-color: @body-bg;
  &.inverse {
    background: #333333;
    &, .form-control {
      color: @mdb-text-color-light;
    }
    .modal,
    .panel-default,
    .card {
      &,
      .form-control {
        background-color: initial;
        color: initial;
      }
    }

  }
}


body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: @font-family-sans-serif;
  font-weight: 300;
}

h5, h6{
  font-weight: 400;
}

a, a:hover, a:focus {
  color: @brand-primary;

  & .material-icons {
    vertical-align: middle;
  }
}

// Well and Jumbotrons
@import "_welljumbo.less";

// Buttons
@import "_buttons.less";

// Checkboxes
@import "_checkboxes.less";

// Toggle buttons
@import "_togglebutton.less";

// Radios
@import "_radios.less";

// Text inputs
@import "_inputs.less";

@import "_form.less";

legend {
  border-bottom: 0;
}

// Lists
@import "_lists.less";

// Navbar
@import "_navbar.less";

.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  .divider {
    background-color: rgba(229, 229, 229, 0.12);
  }
  li {
    overflow: hidden;
    position: relative;
    a:hover {
      background-color: transparent;
      color: @brand-primary;
    }
  }
}

// Alerts
@import "_alerts.less";

// Progress bar
@import "_progress.less";

// Typography
@import "_typography.less";

@import "_tabs.less";

@import "_popups.less";

@import "_cards.less";

@import "_dialogs.less";

@import "_panels.less";

@import "_dividers.less";

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}


@import "_themes.less";

// External plugins
@import "_plugins.less";
