@import '_inputs-size.less';

// usage: .form-group-validation-state(@input-danger);
.form-group-validation-state(@name, @color) {

  &.@{name} { // e.g. has-error
    .form-control {
      box-shadow: none;
    }
    &.is-focused .form-control {
      background-image: linear-gradient(@color, @color), linear-gradient(@input-underline-color, @input-underline-color);
    }
    label.control-label,
    .help-block {
      color: @color;
    }
  }
}

.form-control {
  border: 0;
  background-image: linear-gradient(@primary, @primary), linear-gradient(@input-underline-color, @input-underline-color);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(~"100% - 1px");
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;

  .form-group.is-focused & {
    outline: none;
    background-image: linear-gradient(@primary, @primary), linear-gradient(@input-underline-color, @input-underline-color);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;

    .material-input:after {
      background-color: @input-default;
    }
  }

  .material-placeholder({
    color: @input-placeholder-color;
    font-size: @md-input-font-size-base;
    font-weight: normal;
  });

  &,
  fieldset[disabled] & {

    &:textarea {
      height: 40px;
    }

    &,
    .form-group.is-focused & {
      float: none;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      &:disabled {
        border-style: dashed;
        border-bottom: 1px solid #757575;
      }
    }
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    //background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
  }
}

.form-group {
  position: relative;

  // -----
  // Labels
  //
  // Reference http://www.google.com/design/spec/components/text-fields.html
  // MDL implementation: http://www.getmdl.io/components/index.html#textfields-section

  @label-as-placeholder-top: -1 * @md-input-padding-base-vertical;
  label.control-label { // static label

    // same label properties as form-group placeholder.  could be shared with a ruleset but makes sass conversion painful
    color: @input-placeholder-color;
    font-size: @floating-label-size-ratio * @md-input-font-size-base; // same as focused size of floating
    font-weight: normal;
    margin: 16px 0 0 0; // std and lg

    &.floating-label {
      font-size: @md-input-font-size-base; // as placeholder
      position: absolute;
      pointer-events: none;
      left: 0px;
      top: @label-as-placeholder-top; // place the floating label to look like a placeholder with input padding
      transition: 0.3s ease all;
    }
  }
  .variations(~" label.control-label", color, @input-placeholder-color);  // default label color variations
  .variations(~".is-focused label.control-label", color, @input-default); // focused label color variations

  &.is-focused {
    label.control-label{
      &.floating-label{
        font-size: @md-input-label-font-size-base; // 12px
      }
    }
  }

  // sizing of focused/open/labels
  &.is-focused,
  &:not(.is-empty) {
    label.control-label.floating-label {
      top: @label-as-placeholder-top - (@md-input-label-font-size-base + @md-input-padding-base-vertical);
      font-size: @md-input-label-font-size-base;
    }
  }

  // sm
  &.form-group-sm {
    .form-control {
      .material-placeholder({
        font-size: @md-input-font-size-small;
      });
    }

    label.control-label { // static label
      font-size: @md-input-label-font-size-small; // static
      //margin: 12px 0 0 0; // sm only
      &.floating-label {
        font-size: @md-input-font-size-small; // as placeholder
      }
    }

    // sm floating size/location
    &.is-focused,
    &:not(.is-empty) {
      label.control-label.floating-label {
        top: @label-as-placeholder-top - (@md-input-label-font-size-small + @md-input-padding-small-vertical);
        font-size: @md-input-label-font-size-small;
      }
    }
  }

  // lg
  &.form-group-lg {
    .form-control {
      .material-placeholder({
        font-size: @md-input-font-size-large;
      });
    }

    label.control-label { // static label
      font-size: @floating-label-size-ratio * @md-input-font-size-large; // same as focused size of floating
      &.floating-label {
        font-size: @md-input-font-size-large; // as placeholder (never larger than size-base)
      }
    }

    // lg floating size/location
    &.is-focused,
    &:not(.is-empty) {
      label.control-label.floating-label {
        top: @label-as-placeholder-top - (@md-input-label-font-size-large + @md-input-padding-large-vertical);
        font-size: @md-input-label-font-size-large;
      }
    }
  }

  // Hints
  .hint {
    position: absolute;
    font-size: 80%;
    display: none;
  }

  &.is-focused {
    .hint {
      display: block;
    }
  }

  // SASS conversion note: please mirror any content change in _mixins-shared.scss bg-img-variations-content
  .generic-variations(~".is-focused .form-control", @primary, {
    background-image: linear-gradient(@material-color, @material-color), linear-gradient(@input-underline-color, @input-underline-color);
  });

  .form-group-validation-state(has-warning, @input-warning);
  .form-group-validation-state(has-error, @input-danger);
  .form-group-validation-state(has-success, @input-success);
  .form-group-validation-state(has-info, @input-info);

  textarea {
    resize: none;
  }
  textarea ~ .form-control-highlight {
    margin-top: -11px;
  }

  select ~ .material-input:after {
    display: none;
  }

  // Fix for OS X
  select {
    appearance: none;
  }
}

select.form-control {

  border: 0;
  box-shadow: none;
  border-radius: 0;

  .form-group.is-focused & {
    box-shadow: none;
    border-color: #757575;
  }

  &[multiple] {
    &,
    .form-group.is-focused & {
      height: 85px;
    }
  }
}

.input-group {
  .form-group {
    .form-control {
      float: none;
    }
    margin-right: 5px;
    margin-left: 5px;
  }
  .input-group-addon {
    border: 0;
    background: transparent;
  }
  .input-group-btn .btn {
    border-radius: 4px;
    margin: 0;
  }
}

// Input files (kinda hack)
.form-group input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

// Ugly override of Bootstrap border
fieldset[disabled] .form-control:disabled,
.form-group .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-group .form-control:focus:disabled,
.form-control:focus:disabled,
.form-group.is-focused fieldset[disabled] .form-control:disabled,
.form-group.is-focused .form-group .form-control:disabled,
.form-group.is-focused .form-control:disabled {
  border: 0;
}
