.popover, .tooltip-inner {
  color: #ececec;
  font-weight: bold;
  line-height: 1em;
  background: rgba(70,70,70,.9);
  border: 1px solid rgba(70,70,70,.9);
  border-radius: 2px;
  .shadow-z-1();
}

.tooltip, .tooltip.in {
  opacity: 1;
}

.popover, .tooltip {
  .arrow, .tooltip-arrow {
    display: none;
  }
}
