// main: material.less

.popover, .tooltip-inner {
    background: #323232;
    color: #FFF;
    border-radius: 2px;

}

.tooltip, .tooltip.in {
    opacity: 1;
}

.popover, .tooltip {
    &.left .arrow:after, &.left .tooltip-arrow {
        border-left-color: #323232;
    }
    &.right .arrow:after, &.right .tooltip-arrow {
        border-right-color: #323232;
    }
    &.top .arrow:after, &.top .tooltip-arrow {
        border-top-color: #323232;
    }
    &.bottom .arrow:after, &.bottom .tooltip-arrow {
        border-bottom-color: #323232;
    }
}

// Support for toastr plugin (in material they are snackbars)
// http://codeseven.github.io/toastr/

.snackbar {
    display: inline-block;
    position: fixed;
    z-index: 99999;
    left: 20px;
    bottom: 0;
    min-width: 288px;
    max-width: 568px;
    padding: 14px 15px;
    margin-bottom: 20px;

    color: @darkbg-text;
    font-size: 14px;
    background-color: #323232;
    border-radius: 2px;
    .shadow-z-1;

    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in;

    -webkit-transform: translateY(200%);
    transform: translateY(200%);

}

.snackbar.snackbar-opened {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.snackbar.toast {
    border-radius: 200px;
}
