root = true
[*]
insert_final_newline = true
[*.js]
indent_style = space
indent_size = 4
[*.json]
indent_style = space
indent_size = 4
[*.less]
indent_style = space
indent_size = 4
[*.sass]
indent_style = space
indent_size = 4
