# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

*.log
.sass-cache
Thumbs.db
.DS_Store
/node_modules/
.grunt/
/bower_components/
.build*
/_SpecRunner.html
