@mixin mdb-layout-overlay-backdrop-in() {

  > .mdb-layout-backdrop {
    .in {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.5);
    }

    @supports (pointer-events: auto) {
      &.in {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}
