.bd-example[data-example-id*="drawer-"] {
  min-height: 235px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.bd-example[data-example-id*="drawer-1"] {
  min-height: 350px; // make first example bigger
}
