.bd-masthead {
  background-image: linear-gradient(rgba(66, 66, 167, 0.2),rgba(57, 57, 152, 0.4)), url(../assets/img/bg.jpg);
  background-position: center top;
  background-size: cover;

  .bd-booticon {
    color: #fff;
  }

  .cb {
    margin-bottom: -2rem !important;
  }

  @include media-breakpoint-up(sm) {
    .cb {
      margin-bottom: 0 !important;
    }
  }
}
