.bd-masthead {
  background-image: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.4)), url("../assets/img/bg.jpg");
  background-size: cover;

  .bd-booticon {
    color: #fff;
  }

  .btn {
    border-width: 1px;
    border-style: solid;
  }
}
