.bd-pageheader {
  @include media-breakpoint-up(sm) {
    .cb {
      margin: 2rem 0 0 !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .cb {
      position: absolute;
      top: 0;
      right: .75rem; // offset from the .container's padding
      margin: 0 !important;
    }
  }
}
