.tab-page {
  display: none;
}

.active-page {
  display: block;
}

body {
  margin: 0;
  background: #E5E5E5;
  color: #404040;
}

.toolbar {
  background: #03A9F4
}

.tabs {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  margin-left: 16px;
}

.tabs li {
  float: left;
  display: inline;
}

.tabs a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.tabs .active a {
  color: white;
}

.tabs .active a:after {
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0px;
  left: 0px;
  position: absolute;
  background: #FFFF8D;
  -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;
  -moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;
  transition: all 1s cubic-bezier(0.4, 0.0, 1, 1);
}


.tab-page {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  padding-top: 50px;
  padding-left: 50px;
  overflow: hidden;
}
