// Accordion

.accordion-button {
  &:not(.collapsed) {
    background-color: #fff;

    &:focus {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    }
  }

  &:focus {
    border-color: $accordion-button-focus-border-color;
    outline: 0;
    box-shadow: none;
  }
}
