// animations

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.drop-in {
  transform-origin: top center;
  animation-timing-function: cubic-bezier(0.34, 1.61, 0.7, 1);
  animation-name: drop-in;
}

@keyframes drop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.drop-out {
  transform-origin: top center;
  animation-timing-function: cubic-bezier(0.34, 1.61, 0.7, 1);
  animation-name: drop-out;
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.fly-in {
  animation-name: fly-in;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1500px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.fly-in-up {
  animation-name: fly-in-up;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -1500px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}

.fly-in-down {
  animation-name: fly-in-down;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-in-left {
  0% {
    opacity: 0;
    transform: translate3d(1500px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.fly-in-left {
  animation-name: fly-in-left;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-in-right {
  0% {
    opacity: 0;
    transform: translate3d(-1500px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.fly-in-right {
  animation-name: fly-in-right;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-out {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.fly-out {
  animation-name: fly-out;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-out-up {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fly-out-up {
  animation-name: fly-out-up;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-out-down {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fly-out-down {
  animation-name: fly-out-down;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-out-left {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fly-out-left {
  animation-name: fly-out-left;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-out-right {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fly-out-right {
  animation-name: fly-out-right;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes browse-in {
  0% {
    transform: scale(0.8) translateZ(0px);
    z-index: -1;
  }
  10% {
    transform: scale(0.8) translateZ(0px);
    z-index: -1;
    opacity: 0.7;
  }
  80% {
    transform: scale(1.05) translateZ(0px);
    opacity: 1;
    z-index: 999;
  }
  100% {
    transform: scale(1) translateZ(0px);
    z-index: 999;
  }
}

.browse-in {
  animation-name: browse-in;
}

@keyframes browse-out-left {
  0% {
    z-index: 999;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg);
  }
  50% {
    z-index: -1;
    transform: translateX(-105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);
  }
  80% {
    opacity: 1;
  }
  100% {
    z-index: -1;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg) translateZ(-10px);
    opacity: 0;
  }
}

.browse-out,
.browse-out-left {
  animation-name: browse-out-left;
}

@keyframes browse-out-right {
  0% {
    z-index: 999;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg);
  }
  50% {
    z-index: 1;
    transform: translateX(105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);
  }
  80% {
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg) translateZ(-10px);
    opacity: 0;
  }
}

.browse-out-right {
  animation-name: browse-out-right;
}

@keyframes jiggle {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.jiggle {
  animation-name: jiggle;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation-duration: 750ms;
  animation-name: flash;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation-name: shake;
}

@keyframes glow {
  0% {
    background-color: #fcfcfd;
  }
  30% {
    background-color: #fff6cd;
  }
  100% {
    background-color: #fcfcfd;
  }
}

.glow {
  animation-name: glow;
}
