@-webkit-keyframes input-highlight {
  0% {
    left: 20%;
    width: 20%; }

  99% {
    width: 0;
    left: 0;
    opacity: 1; }

  100% {
    opacity: 0; } }
@keyframes input-highlight {
  0% {
    left: 20%;
    width: 20%; }

  99% {
    width: 0;
    left: 0;
    opacity: 1; }

  100% {
    opacity: 0; } }
.shadow-z-1, .card, .snackbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-z-2, body .well, body .jumbotron, .container .well, .container .jumbotron, .container-fluid .well, .container-fluid .jumbotron, .btn-raised, .btn-group, .btn-group-vertical, .btn-group.btn-group-raised, .btn-group-vertical.btn-group-raised, .modal-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-z-2-hover, .btn:hover:not(.btn-link) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28); }

.shadow-z-3, .btn:active:not(.btn-link), .btn-raised:active:not(.btn-link), .btn-group:active:not(.btn-link), .btn-group-vertical:active:not(.btn-link), .btn-group.btn-group-raised:active:not(.btn-link), .btn-group-vertical.btn-group-raised:active:not(.btn-link) {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-z-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-z-5, .btn-raised:hover, .btn-group:hover, .btn-group-vertical:hover, .btn-group.btn-group-raised:hover, .btn-group-vertical.btn-group-raised:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

body {
  background-color: #EEEEEE; }
  body.inverse {
    background: #333333; }
    body.inverse, body.inverse .form-control {
      color: rgba(255, 255, 255, 0.84); }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body .well, body .well .form-control, body .well:not([class^="well well-material-"]), body .well:not([class^="well well-material-"]) .form-control, .container .well, .container .well .form-control, .container .well:not([class^="well well-material-"]), .container .well:not([class^="well well-material-"]) .form-control, .container-fluid .well, .container-fluid .well .form-control, .container-fluid .well:not([class^="well well-material-"]), .container-fluid .well:not([class^="well well-material-"]) .form-control {
  color: rgba(0, 0, 0, 0.84); }
body .well .floating-label, body .well:not([class^="well well-material-"]) .floating-label, .container .well .floating-label, .container .well:not([class^="well well-material-"]) .floating-label, .container-fluid .well .floating-label, .container-fluid .well:not([class^="well well-material-"]) .floating-label {
  color: #7e7e7e; }
body .well .form-control, body .well:not([class^="well well-material-"]) .form-control, .container .well .form-control, .container .well:not([class^="well well-material-"]) .form-control, .container-fluid .well .form-control, .container-fluid .well:not([class^="well well-material-"]) .form-control {
  border-bottom-color: #7e7e7e; }
  body .well .form-control::-webkit-input-placeholder, body .well:not([class^="well well-material-"]) .form-control::-webkit-input-placeholder, .container .well .form-control::-webkit-input-placeholder, .container .well:not([class^="well well-material-"]) .form-control::-webkit-input-placeholder, .container-fluid .well .form-control::-webkit-input-placeholder, .container-fluid .well:not([class^="well well-material-"]) .form-control::-webkit-input-placeholder {
    color: #7e7e7e; }
  body .well .form-control::-moz-placeholder, body .well:not([class^="well well-material-"]) .form-control::-moz-placeholder, .container .well .form-control::-moz-placeholder, .container .well:not([class^="well well-material-"]) .form-control::-moz-placeholder, .container-fluid .well .form-control::-moz-placeholder, .container-fluid .well:not([class^="well well-material-"]) .form-control::-moz-placeholder {
    color: #7e7e7e;
    opacity: 1; }
  body .well .form-control:-ms-input-placeholder, body .well:not([class^="well well-material-"]) .form-control:-ms-input-placeholder, .container .well .form-control:-ms-input-placeholder, .container .well:not([class^="well well-material-"]) .form-control:-ms-input-placeholder, .container-fluid .well .form-control:-ms-input-placeholder, .container-fluid .well:not([class^="well well-material-"]) .form-control:-ms-input-placeholder {
    color: #7e7e7e; }
body .well .option, body .well .create, body .well:not([class^="well well-material-"]) .option, body .well:not([class^="well well-material-"]) .create, .container .well .option, .container .well .create, .container .well:not([class^="well well-material-"]) .option, .container .well:not([class^="well well-material-"]) .create, .container-fluid .well .option, .container-fluid .well .create, .container-fluid .well:not([class^="well well-material-"]) .option, .container-fluid .well:not([class^="well well-material-"]) .create {
  color: rgba(0, 0, 0, 0.84); }
body [class^="well well-material-"], body [class^="well well-material-"] .form-control, body [class^="well well-material-"] .floating-label, .container [class^="well well-material-"], .container [class^="well well-material-"] .form-control, .container [class^="well well-material-"] .floating-label, .container-fluid [class^="well well-material-"], .container-fluid [class^="well well-material-"] .form-control, .container-fluid [class^="well well-material-"] .floating-label {
  color: rgba(255, 255, 255, 0.84); }
body [class^="well well-material-"] .form-control, .container [class^="well well-material-"] .form-control, .container-fluid [class^="well well-material-"] .form-control {
  border-bottom-color: rgba(255, 255, 255, 0.84); }
  body [class^="well well-material-"] .form-control::-webkit-input-placeholder, .container [class^="well well-material-"] .form-control::-webkit-input-placeholder, .container-fluid [class^="well well-material-"] .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.84); }
  body [class^="well well-material-"] .form-control::-moz-placeholder, .container [class^="well well-material-"] .form-control::-moz-placeholder, .container-fluid [class^="well well-material-"] .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.84);
    opacity: 1; }
  body [class^="well well-material-"] .form-control:-ms-input-placeholder, .container [class^="well well-material-"] .form-control:-ms-input-placeholder, .container-fluid [class^="well well-material-"] .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.84); }
body [class^="well well-material-"] .option, body [class^="well well-material-"] .create, .container [class^="well well-material-"] .option, .container [class^="well well-material-"] .create, .container-fluid [class^="well well-material-"] .option, .container-fluid [class^="well well-material-"] .create {
  color: rgba(0, 0, 0, 0.84); }
body .well, body .jumbotron, .container .well, .container .jumbotron, .container-fluid .well, .container-fluid .jumbotron {
  background-color: #fff;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 0; }
  body .well p, body .jumbotron p, .container .well p, .container .jumbotron p, .container-fluid .well p, .container-fluid .jumbotron p {
    font-weight: 300; }

.btn {
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.84); }

.btn-link, .btn:not([class^="btn btn-"]), .btn-default {
  color: rgba(0, 0, 0, 0.84); }
  .btn-link:hover, .btn:not([class^="btn btn-"]):hover, .btn-default:hover {
    color: rgba(0, 0, 0, 0.84); }

.btn:not([class^="btn btn-"]):hover, .btn-default:hover {
  background-color: rgba(255, 255, 255, 0.5); }

.btn-raised {
  -webkit-transition: box-shadow -webkit-transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow transform 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-flat {
  box-shadow: none !important; }
  .btn-flat.btn-default:hover {
    background: none; }

.btn-group, .btn-group-vertical {
  position: relative;
  border-radius: 4px;
  margin: 10px 1px;
  -webkit-transition: box-shadow -webkit-transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow transform 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-group.open .dropdown-toggle, .btn-group-vertical.open .dropdown-toggle {
    box-shadow: none; }
  .btn-group.btn-group-raised, .btn-group-vertical.btn-group-raised {
    -webkit-transition: box-shadow -webkit-transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow transform 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-group .btn, .btn-group .btn:active, .btn-group .btn-group, .btn-group-vertical .btn, .btn-group-vertical .btn:active, .btn-group-vertical .btn-group {
    box-shadow: none !important;
    margin: 0; }
  .btn-group .btn:active .caret, .btn-group-vertical .btn:active .caret {
    margin-left: -1px; }

.btn-group-flat {
  box-shadow: none !important; }

.btn-fab {
  margin: 0;
  padding: 15px;
  font-size: 26px;
  width: 56px;
  height: 56px; }
  .btn-fab, .btn-fab .ripple-wrapper {
    border-radius: 100%; }
  .btn-fab.btn-mini {
    width: 40px;
    height: 40px;
    padding: 13px;
    font-size: 15px; }

.btn-default {
  background-color: white; }

.btn-primary {
  background-color: #4285f4; }

.btn-success {
  background-color: #0f9d58; }

.btn-info {
  background-color: #03a9f4; }

.btn-warning {
  background-color: #ff5722; }

.btn-danger {
  background-color: #f44336; }

.btn-material-red {
  background-color: #f44336; }

.btn-material-pink {
  background-color: #e91e63; }

.btn-material-purple {
  background-color: #9c27b0; }

.btn-material-deeppurple {
  background-color: #673ab7; }

.btn-material-indigo {
  background-color: #3f51b5; }

.btn-material-lightblue {
  background-color: #03a9f4; }

.btn-material-cyan {
  background-color: #00bcd4; }

.btn-material-teal {
  background-color: #009688; }

.btn-material-lightgreen {
  background-color: #8bc34a; }

.btn-material-lime {
  background-color: #cddc39; }

.btn-material-lightyellow {
  background-color: #ffeb3b; }

.btn-material-orange {
  background-color: #ff9800; }

.btn-material-deeporange {
  background-color: #ff5722; }

.btn-material-grey {
  background-color: #9e9e9e; }

.btn-material-bluegrey {
  background-color: #607d8b; }

.btn-material-brown {
  background-color: #795548; }

.btn-material-lightgrey {
  background-color: #ececec; }

.form-horizontal .checkbox {
  padding-top: 15px; }

.checkbox {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  .checkbox label {
    cursor: pointer;
    padding-left: 45px;
    position: relative; }
    .checkbox label span {
      display: block;
      position: absolute;
      left: 0px;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s; }
    .checkbox label .check:after {
      display: block;
      position: absolute;
      content: "";
      background-color: rgba(0, 0, 0, 0.84);
      left: -5px;
      top: -15px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0; }
    .checkbox label .check:before {
      display: block;
      content: "";
      border: 2px solid rgba(0, 0, 0, 0.84);
      height: 20px;
      width: 20px;
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s; }
  .checkbox input[type=checkbox] {
    opacity: 0; }
  .checkbox input[type=checkbox] ~ .check:before {
    position: absolute;
    top: 2px;
    left: 11px;
    width: 18px;
    height: 18px;
    border: solid 2px;
    border-color: #5a5a5a;
    -webkit-animation: uncheck 300ms ease-out forwards;
            animation: uncheck 300ms ease-out forwards; }
  .checkbox input[type=checkbox]:focus ~ .check:after {
    opacity: 0.2; }
  .checkbox input[type=checkbox]:checked ~ .check:before {
    -webkit-animation: check 300ms ease-out forwards;
            animation: check 300ms ease-out forwards; }
  .checkbox input[type=checkbox]:not(:checked) ~ .check:after {
    -webkit-animation: rippleOff 500ms linear forwards;
            animation: rippleOff 500ms linear forwards; }
  .checkbox input[type=checkbox]:checked ~ .check:after {
    -webkit-animation: rippleOn 500ms linear forwards;
            animation: rippleOn 500ms linear forwards; }
  .checkbox:not(:hover) input[type=checkbox] ~ .check:before, .checkbox:not(:hover) input[type=checkbox] ~ .check:after {
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms; }
  .checkbox input[type=checkbox][disabled]:not(:checked) ~ .check:before {
    opacity: 0.5; }
  .checkbox input[type=checkbox][disabled] ~ .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@-webkit-keyframes uncheck {
  0% {
    top: -3px;
    left: 17px;
    width: 10px;
    height: 21px;
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  50% {
    top: 14px;
    left: 17px;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent; }

  51% {
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; }

  100% {
    top: 1px;
    left: 12px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; } }

@keyframes uncheck {
  0% {
    top: -3px;
    left: 17px;
    width: 10px;
    height: 21px;
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  50% {
    top: 14px;
    left: 17px;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent; }

  51% {
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; }

  100% {
    top: 1px;
    left: 12px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; } }
@-webkit-keyframes check {
  100% {
    top: -3px;
    left: 17px;
    width: 10px;
    height: 21px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent; }

  51% {
    border-left: transparent;
    border-top-color: transparent; }

  50% {
    top: 14px;
    left: 17px;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; }

  0% {
    top: 1px;
    left: 12px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; } }
@keyframes check {
  100% {
    top: -3px;
    left: 17px;
    width: 10px;
    height: 21px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #0f9d58;
    border-left-color: transparent;
    border-top-color: transparent; }

  51% {
    border-left: transparent;
    border-top-color: transparent; }

  50% {
    top: 14px;
    left: 17px;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; }

  0% {
    top: 1px;
    left: 12px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-top-color: #5a5a5a; } }
@-webkit-keyframes rippleOn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
@keyframes rippleOn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
@-webkit-keyframes rippleOff {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
@keyframes rippleOff {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
.form-horizontal .radio {
  margin-bottom: 10px; }

.radio label {
  cursor: pointer;
  padding-left: 45px;
  position: relative; }
  .radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .radio label .circle {
    border: 2px solid rgba(0, 0, 0, 0.84);
    height: 15px;
    width: 15px;
    border-radius: 100%; }
  .radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .radio label .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    left: -18px;
    top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5); }
  .radio label input[type=radio]:not(:checked) ~ .check:after {
    -webkit-animation: rippleOff 500ms;
            animation: rippleOff 500ms; }
  .radio label input[type=radio]:checked ~ .check:after {
    -webkit-animation: rippleOn 500ms;
            animation: rippleOn 500ms; }
.radio input[type=radio][disabled] ~ .check,
.radio input[type=radio][disabled] ~ .circle {
  opacity: 0.5; }
.radio input[type=radio] {
  display: none; }
.radio input[type=radio]:checked ~ .check {
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55); }
.radio input[type=radio][disabled] ~ .circle {
  border-color: rgba(0, 0, 0, 0.84); }
.radio input[type=radio][disabled] ~ .check {
  background-color: rgba(0, 0, 0, 0.84); }

@keyframes rippleOn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
@keyframes rippleOff {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 0; } }
fieldset[disabled] .form-control, fieldset[disabled] .form-control:focus, fieldset[disabled] .form-control.focus, .form-control-wrapper .form-control, .form-control-wrapper .form-control:focus, .form-control-wrapper .form-control.focus, .form-control, .form-control:focus, .form-control.focus {
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #757575; }
  fieldset[disabled] .form-control:not(textarea):not(select), fieldset[disabled] .form-control:focus:not(textarea):not(select), fieldset[disabled] .form-control.focus:not(textarea):not(select), .form-control-wrapper .form-control:not(textarea):not(select), .form-control-wrapper .form-control:focus:not(textarea):not(select), .form-control-wrapper .form-control.focus:not(textarea):not(select), .form-control:not(textarea):not(select), .form-control:focus:not(textarea):not(select), .form-control.focus:not(textarea):not(select) {
    height: 28px; }
  fieldset[disabled] .form-control:disabled, fieldset[disabled] .form-control:focus:disabled, fieldset[disabled] .form-control.focus:disabled, .form-control-wrapper .form-control:disabled, .form-control-wrapper .form-control:focus:disabled, .form-control-wrapper .form-control.focus:disabled, .form-control:disabled, .form-control:focus:disabled, .form-control.focus:disabled {
    border-style: dashed; }

select.form-control {
  height: 23px; }

select[multiple].form-control, select[multiple].form-control:focus, select[multiple].form-control.focus {
  height: 85px; }

.form-control-wrapper {
  position: relative;
  /* active state */ }
  .form-control-wrapper .form-control:focus, .form-control-wrapper .form-control.focus {
    outline: none; }
  .form-control-wrapper .floating-label {
    color: #7E7E7E;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all;
    opacity: 0; }
  .form-control-wrapper .form-control:not(.empty) ~ .floating-label {
    top: -10px;
    font-size: 10px;
    opacity: 1; }
  .form-control-wrapper .form-control:focus:invalid ~ .floating-label, .form-control-wrapper .form-control.focus:invalid ~ .floating-label {
    color: #f44336; }
  .form-control-wrapper .form-control:focus ~ .material-input:after, .form-control-wrapper .form-control.focus ~ .material-input:after {
    background-color: #5264ae; }
  .form-control-wrapper .form-control:focus:invalid ~ .material-input:before, .form-control-wrapper .form-control:focus:invalid ~ .material-input:after, .form-control-wrapper .form-control.focus:invalid ~ .material-input:before, .form-control-wrapper .form-control.focus:invalid ~ .material-input:after {
    background-color: #f44336; }
  .form-control-wrapper .form-control.empty ~ .floating-label {
    opacity: 1; }
  .form-control-wrapper .material-input:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #5264ae;
    bottom: -1px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0s;
            transition: transform 0s; }
  .form-control-wrapper .form-control:focus ~ .material-input:before, .form-control-wrapper .form-control.focus ~ .material-input:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.2s ease-out;
            transition: transform 0.2s ease-out; }
  .form-control-wrapper .material-input:after {
    content: "";
    position: absolute;
    height: 18px;
    width: 100px;
    margin-top: -1px;
    top: 7px;
    left: 0;
    pointer-events: none;
    opacity: 0.9;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left; }
  .form-control-wrapper .input-lg ~ .material-input:after {
    height: 26px; }
  .form-control-wrapper textarea {
    resize: none; }
  .form-control-wrapper textarea ~ .form-control-highlight {
    margin-top: -11px; }
  .form-control-wrapper .form-control:focus ~ .material-input:after, .form-control-wrapper .form-control.focus ~ .material-input:after {
    -webkit-animation: input-highlight 0.3s ease;
            animation: input-highlight 0.3s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 0; }
  .form-control-wrapper select ~ .material-input:after {
    display: none; }

.form-group.has-warning .material-input:before, .form-group.has-warning input.form-control:focus ~ .material-input:after, .form-group.has-warning input.form-control.focus ~ .material-input:after {
  background: #ff5722; }
.form-group.has-warning .control-label, .form-group.has-warning input.form-control:not(.empty) ~ .floating-label {
  color: #ff5722; }
.form-group.has-error .material-input:before, .form-group.has-error input.form-control:focus ~ .material-input:after, .form-group.has-error input.form-control.focus ~ .material-input:after {
  background: #f44336; }
.form-group.has-error .control-label, .form-group.has-error input.form-control:not(.empty) ~ .floating-label {
  color: #f44336; }
.form-group.has-success .material-input:before, .form-group.has-success input.form-control:focus ~ .material-input:after, .form-group.has-success input.form-control.focus ~ .material-input:after {
  background: #0f9d58; }
.form-group.has-success .control-label, .form-group.has-success input.form-control:not(.empty) ~ .floating-label {
  color: #0f9d58; }
.form-group.has-info .material-input:before, .form-group.has-info input.form-control:focus ~ .material-input:after, .form-group.has-info input.form-control.focus ~ .material-input:after {
  background: #03a9f4; }
.form-group.has-info .control-label, .form-group.has-info input.form-control:not(.empty) ~ .floating-label {
  color: #03a9f4; }

.input-group .form-control-wrapper {
  margin-right: 5px;
  margin-left: 5px;
  bottom: -10px; }
  .input-group .form-control-wrapper .form-control {
    float: none; }
.input-group .input-group-addon {
  border: 0; }
.input-group .input-group-btn .btn {
  border-radius: 4px; }

select.form-control {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  border-radius: 0; }
  select.form-control:focus, select.form-control.focus {
    box-shadow: none;
    border-color: #757575; }

@keyframes input-highlight {
  0% {
    left: 20%;
    -webkit-transform: scaleX(20%);
            transform: scaleX(20%); }

  99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    left: 0;
    opacity: 1; }

  100% {
    opacity: 0; } }
.form-control-wrapper input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

legend {
  border-bottom: 0; }

.modal-content {
  border-radius: 0;
  border: 0; }
  .modal-content .modal-header {
    border-bottom: 0; }
  .modal-content .modal-footer {
    border-top: 0; }
    .modal-content .modal-footer .btn + .btn {
      margin-bottom: 10px; }

.list-group {
  border-radius: 0; }
  .list-group .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0 16px; }
    .list-group .list-group-item .row-picture, .list-group .list-group-item .row-action-primary {
      float: left;
      display: inline-block;
      padding-right: 16px; }
      .list-group .list-group-item .row-picture img, .list-group .list-group-item .row-picture i, .list-group .list-group-item .row-picture label, .list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-action-primary i, .list-group .list-group-item .row-action-primary label {
        display: block;
        width: 56px;
        height: 56px; }
      .list-group .list-group-item .row-picture img, .list-group .list-group-item .row-action-primary img {
        background: rgba(0, 0, 0, 0.1);
        padding: 1px; }
        .list-group .list-group-item .row-picture img.circle, .list-group .list-group-item .row-action-primary img.circle {
          border-radius: 100%; }
      .list-group .list-group-item .row-picture i, .list-group .list-group-item .row-action-primary i {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 100%;
        text-align: center;
        line-height: 56px;
        font-size: 20px;
        color: white; }
      .list-group .list-group-item .row-picture label, .list-group .list-group-item .row-action-primary label {
        margin-left: 7px;
        margin-right: -7px;
        margin-top: 5px;
        margin-bottom: -5px; }
    .list-group .list-group-item .row-content {
      display: inline-block;
      width: calc(100% - 92px);
      min-height: 66px; }
      .list-group .list-group-item .row-content .action-secondary {
        position: absolute;
        right: 16px;
        top: 16px; }
        .list-group .list-group-item .row-content .action-secondary i {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.25);
          cursor: pointer; }
      .list-group .list-group-item .row-content .action-secondary ~ * {
        max-width: calc(100% - 30px); }
      .list-group .list-group-item .row-content .least-content {
        position: absolute;
        right: 16px;
        top: 0px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px; }
    .list-group .list-group-item .list-group-item-heading {
      color: rgba(0, 0, 0, 0.77);
      font-size: 20px;
      line-height: 29px; }
  .list-group .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
    .list-group .list-group-separator:before {
      content: "";
      width: calc(100% - 90px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      float: right; }

.navbar {
  background-color: #4285f4;
  border: 0;
  border-radius: 0; }
  .navbar .navbar-brand {
    position: relative;
    height: 60px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: rgba(255, 255, 255, 0.84);
      background-color: transparent; }
  .navbar .navbar-text {
    color: rgba(255, 255, 255, 0.84);
    margin-top: 20px;
    margin-bottom: 20px; }
  .navbar .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.84);
    padding-top: 20px;
    padding-bottom: 20px; }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      color: rgba(255, 255, 255, 0.84);
      background-color: transparent; }
  .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 0.84);
    background-color: rgba(0, 0, 0, 0.05); }
  .navbar .navbar-nav > .disabled > a, .navbar .navbar-nav > .disabled > a:hover, .navbar .navbar-nav > .disabled > a:focus {
    color: #e5e5e5;
    background-color: transparent; }
  .navbar .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: transparent; }
    .navbar .navbar-toggle .icon-bar {
      background-color: rgba(255, 255, 255, 0.84); }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: rgba(0, 0, 0, 0.1); }
  .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.84); }
  @media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
      border: 0;
      color: rgba(212, 212, 212, 0.84); }
    .navbar .navbar-nav .open .dropdown-menu .divider {
      background-color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-nav .open .dropdown-menu > li > a {
      color: rgba(255, 255, 255, 0.84); }
      .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgba(255, 255, 255, 0.84);
        background-color: transparent; }
    .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: rgba(255, 255, 255, 0.84);
      background-color: rgba(0, 0, 0, 0.05); }
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #e5e5e5;
      background-color: transparent; } }
  .navbar .navbar-link {
    color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-link:hover {
      color: rgba(255, 255, 255, 0.84); }
  .navbar .navbar-link {
    color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-link:hover, .navbar .navbar-link:focus {
      color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-link[disabled]:hover, .navbar .navbar-link[disabled]:focus, fieldset[disabled] .navbar .navbar-link:hover, fieldset[disabled] .navbar .navbar-link:focus {
      color: #e5e5e5; }
  .navbar .navbar-form {
    margin-top: 16px; }
    .navbar .navbar-form .form-control-wrapper .form-control, .navbar .navbar-form .form-control {
      border-color: rgba(255, 255, 255, 0.84);
      color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-form .form-control-wrapper .material-input:before, .navbar .navbar-form .form-control-wrapper input:focus ~ .material-input:after {
      background-color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-form ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-form :-moz-placeholder {
      color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-form ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.84); }
    .navbar .navbar-form :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.84); }

.navbar-inverse {
  background-color: #3f51b5; }

.navbar-white {
  background-color: #FFF; }
  .navbar-white .navbar-brand, .navbar-white .navbar-brand:hover, .navbar-white .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.84); }
  .navbar-white .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.84); }
    .navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
      color: rgba(0, 0, 0, 0.84);
      background-color: transparent; }
  .navbar-white .navbar-nav > .active > a, .navbar-white .navbar-nav > .active > a:hover, .navbar-white .navbar-nav > .active > a:focus {
    color: rgba(0, 0, 0, 0.84);
    background-color: rgba(0, 0, 0, 0.05); }
  .navbar-white .navbar-nav > .disabled > a, .navbar-white .navbar-nav > .disabled > a:hover, .navbar-white .navbar-nav > .disabled > a:focus {
    color: rgba(0, 0, 0, 0.84);
    background-color: transparent; }
  .navbar-white .navbar-nav > .open > a, .navbar-white .navbar-nav > .open > a:hover, .navbar-white .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.84); }

.navbar-default {
  background-color: #4285f4; }

.navbar-primary {
  background-color: #4285f4; }

.navbar-success {
  background-color: #0f9d58; }

.navbar-info {
  background-color: #03a9f4; }

.navbar-warning {
  background-color: #ff5722; }

.navbar-danger {
  background-color: #f44336; }

.navbar-material-red {
  background-color: #f44336; }

.navbar-material-pink {
  background-color: #e91e63; }

.navbar-material-purple {
  background-color: #9c27b0; }

.navbar-material-deeppurple {
  background-color: #673ab7; }

.navbar-material-indigo {
  background-color: #3f51b5; }

.navbar-material-lightblue {
  background-color: #03a9f4; }

.navbar-material-cyan {
  background-color: #00bcd4; }

.navbar-material-teal {
  background-color: #009688; }

.navbar-material-lightgreen {
  background-color: #8bc34a; }

.navbar-material-lime {
  background-color: #cddc39; }

.navbar-material-lightyellow {
  background-color: #ffeb3b; }

.navbar-material-orange {
  background-color: #ff9800; }

.navbar-material-deeporange {
  background-color: #ff5722; }

.navbar-material-grey {
  background-color: #9e9e9e; }

.navbar-material-bluegrey {
  background-color: #607d8b; }

.navbar-material-brown {
  background-color: #795548; }

.navbar-material-lightgrey {
  background-color: #ececec; }

.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .dropdown-menu .divider {
    background-color: rgba(229, 229, 229, 0.12); }
  .dropdown-menu li {
    overflow: hidden;
    position: relative; }
    .dropdown-menu li a:hover {
      background: rgba(0, 0, 0, 0.08); }

.alert {
  border: 0px;
  border-radius: 0; }
  .alert a, .alert .alert-link {
    color: #FFFFFF; }

.alert-default {
  background-color: white; }
  .alert-default a, .alert-default .alert-link {
    color: #000000; }

.alert-primary {
  color: #FFFFFF;
  background-color: #4285f4; }

.alert-success {
  color: #FFFFFF;
  background-color: #0f9d58; }

.alert-info {
  color: #FFFFFF;
  background-color: #03a9f4; }

.alert-warning {
  color: #FFFFFF;
  background-color: #ff5722; }

.alert-danger {
  background-color: #f44336; }

.alert-material-red {
  background-color: #f44336; }

.alert-material-pink {
  background-color: #e91e63; }

.alert-material-purple {
  background-color: #9c27b0; }

.alert-material-deeppurple {
  background-color: #673ab7; }

.alert-material-indigo {
  background-color: #3f51b5; }

.alert-material-lightblue {
  background-color: #03a9f4; }

.alert-material-cyan {
  background-color: #00bcd4; }

.alert-material-teal {
  background-color: #009688; }

.alert-material-lightgreen {
  background-color: #8bc34a; }

.alert-material-lime {
  background-color: #cddc39; }

.alert-material-lightyellow {
  background-color: #ffeb3b; }

.alert-material-orange {
  background-color: #ff9800; }

.alert-material-deeporange {
  background-color: #ff5722; }

.alert-material-grey {
  background-color: #9e9e9e; }

.alert-material-bluegrey {
  background-color: #607d8b; }

.alert-material-brown {
  background-color: #795548; }

.alert-material-lightgrey {
  background-color: #ececec; }

.progress {
  height: 4px;
  border-radius: 0;
  box-shadow: none;
  background: #c8c8c8; }
  .progress .progress-bar {
    box-shadow: none; }
  .progress .progress-bar-default {
    background-color: #4285f4; }
  .progress .progress-bar-primary {
    background-color: #4285f4; }
  .progress .progress-bar-success {
    background-color: #0f9d58; }
  .progress .progress-bar-info {
    background-color: #03a9f4; }
  .progress .progress-bar-warning {
    background-color: #ff5722; }
  .progress .progress-bar-danger {
    background-color: #f44336; }
  .progress .progress-bar-material-red {
    background-color: #f44336; }
  .progress .progress-bar-material-pink {
    background-color: #e91e63; }
  .progress .progress-bar-material-purple {
    background-color: #9c27b0; }
  .progress .progress-bar-material-deeppurple {
    background-color: #673ab7; }
  .progress .progress-bar-material-indigo {
    background-color: #3f51b5; }
  .progress .progress-bar-material-lightblue {
    background-color: #03a9f4; }
  .progress .progress-bar-material-cyan {
    background-color: #00bcd4; }
  .progress .progress-bar-material-teal {
    background-color: #009688; }
  .progress .progress-bar-material-lightgreen {
    background-color: #8bc34a; }
  .progress .progress-bar-material-lime {
    background-color: #cddc39; }
  .progress .progress-bar-material-lightyellow {
    background-color: #ffeb3b; }
  .progress .progress-bar-material-orange {
    background-color: #ff9800; }
  .progress .progress-bar-material-deeporange {
    background-color: #ff5722; }
  .progress .progress-bar-material-grey {
    background-color: #9e9e9e; }
  .progress .progress-bar-material-bluegrey {
    background-color: #607d8b; }
  .progress .progress-bar-material-brown {
    background-color: #795548; }
  .progress .progress-bar-material-lightgrey {
    background-color: #ececec; }

.card {
  border-radius: 2px;
  margin-bottom: 20px; }
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    font-weight: 100;
    margin: 10px 0; }
  .card .card-body {
    padding: 15px; }
  .card .card-actions {
    padding: 15px;
    text-transform: uppercase; }
    .card .card-actions .main {
      font-weight: bold; }
    .card .card-actions a {
      font-size: 15px;
      margin: 0 15px 0 0; }
      .card .card-actions a:hover {
        text-decoration: none; }
  .card img {
    max-width: 100%;
    max-height: 100%; }
  .card .card-footer {
    padding: 15px;
    border-top: 1px solid;
    border-color: #ececec; }
    .card .card-footer .icon {
      font-size: 25px;
      -webkit-transition: ease -webkit-transform 0.5s;
              transition: ease transform 0.5s; }
      .card .card-footer .icon:hover {
        text-decoration: none;
        -webkit-transform: transform3d(0, 0, 0, -1px);
            -ms-transform: transform3d(0, 0, 0, -1px);
                transform: transform3d(0, 0, 0, -1px); }

.card-default {
  background-color: white;
  color: black; }
  .card-default .card-footer, .card-default .card-header {
    border-color: #e6e6e6; }
  .card-default a {
    color: black; }

.card-primary {
  background-color: #4285f4;
  color: white; }
  .card-primary .card-footer, .card-primary .card-header {
    border-color: #ececec; }
  .card-primary a {
    color: white; }

.card-success {
  background-color: #0f9d58;
  color: white; }
  .card-success .card-footer, .card-success .card-header {
    border-color: #0b6e3e; }
  .card-success a {
    color: white; }

.card-info {
  background-color: #03a9f4;
  color: white; }
  .card-info .card-footer, .card-info .card-header {
    border-color: #0286c2; }
  .card-info a {
    color: white; }

.card-warning {
  background-color: #ff5722;
  color: white; }
  .card-warning .card-footer, .card-warning .card-header {
    border-color: #ff7e55; }
  .card-warning a {
    color: white; }

.card-danger {
  background-color: #f44336;
  color: white; }
  .card-danger .card-footer, .card-danger .card-header {
    border-color: #ea1c0d; }
  .card-danger a {
    color: white; }

.card-material-red {
  background-color: #f44336;
  color: white; }
  .card-material-red .card-footer, .card-material-red .card-header {
    border-color: #f77066; }
  .card-material-red a {
    color: white; }

.card-material-pink {
  background-color: #e91e63;
  color: white; }
  .card-material-pink .card-footer, .card-material-pink .card-header {
    border-color: #c1134e; }
  .card-material-pink a {
    color: white; }

.card-material-purple {
  background-color: #9c27b0;
  color: white; }
  .card-material-purple .card-footer, .card-material-purple .card-header {
    border-color: #771e86; }
  .card-material-purple a {
    color: white; }

.card-material-deeppurple {
  background-color: #673ab7;
  color: white; }
  .card-material-deeppurple .card-footer, .card-material-deeppurple .card-header {
    border-color: #8259cb; }
  .card-material-deeppurple a {
    color: white; }

.card-material-indigo {
  background-color: #3f51b5;
  color: white; }
  .card-material-indigo .card-footer, .card-material-indigo .card-header {
    border-color: #606fc7; }
  .card-material-indigo a {
    color: white; }

.card-material-lightblue {
  background-color: #03a9f4;
  color: white; }
  .card-material-lightblue .card-footer, .card-material-lightblue .card-header {
    border-color: #0286c2; }
  .card-material-lightblue a {
    color: white; }

.card-material-cyan {
  background-color: #00bcd4;
  color: white; }
  .card-material-cyan .card-footer, .card-material-cyan .card-header {
    border-color: #008fa1; }
  .card-material-cyan a {
    color: white; }

.card-material-teal {
  background-color: #009688;
  color: white; }
  .card-material-teal .card-footer, .card-material-teal .card-header {
    border-color: #00635a; }
  .card-material-teal a {
    color: white; }

.card-material-lightgreen {
  background-color: #8bc34a;
  color: white; }
  .card-material-lightgreen .card-footer, .card-material-lightgreen .card-header {
    border-color: #71a436; }
  .card-material-lightgreen a {
    color: white; }

.card-material-lime {
  background-color: #cddc39;
  color: white; }
  .card-material-lime .card-footer, .card-material-lime .card-header {
    border-color: #b2c022; }
  .card-material-lime a {
    color: white; }

.card-material-lightyellow {
  background-color: #ffeb3b;
  color: #080700; }
  .card-material-lightyellow .card-footer, .card-material-lightyellow .card-header {
    border-color: #ffe608; }
  .card-material-lightyellow a {
    color: #080700; }

.card-material-orange {
  background-color: #ff9800;
  color: white; }
  .card-material-orange .card-footer, .card-material-orange .card-header {
    border-color: #cc7a00; }
  .card-material-orange a {
    color: white; }

.card-material-deeporange {
  background-color: #ff5722;
  color: white; }
  .card-material-deeporange .card-footer, .card-material-deeporange .card-header {
    border-color: #ee3900; }
  .card-material-deeporange a {
    color: white; }

.card-material-grey {
  background-color: #9e9e9e;
  color: white; }
  .card-material-grey .card-footer, .card-material-grey .card-header {
    border-color: #858585; }
  .card-material-grey a {
    color: white; }

.card-material-bluegrey {
  background-color: #607d8b;
  color: white; }
  .card-material-bluegrey .card-footer, .card-material-bluegrey .card-header {
    border-color: #4b626d; }
  .card-material-bluegrey a {
    color: white; }

.card-material-brown {
  background-color: #795548;
  color: white; }
  .card-material-brown .card-footer, .card-material-brown .card-header {
    border-color: #996b5b; }
  .card-material-brown a {
    color: white; }

.card-material-lightgrey {
  background-color: #ececec;
  color: #e6e6e6; }
  .card-material-lightgrey .card-footer, .card-material-lightgrey .card-header {
    border-color: lightgray; }
  .card-material-lightgrey a {
    color: #e6e6e6; }

.text-warning {
  color: #ff5722; }

.text-primary {
  color: #4285f4; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #0f9d58; }

.text-info {
  color: #03a9f4; }

.nav-tabs {
  background: #4285f4; }
  .nav-tabs > li > a {
    color: #FFFFFF;
    border: 0;
    margin: 0; }
    .nav-tabs > li > a:hover {
      background: transparent;
      border: 0; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.open > a, .nav-tabs > li.open > a:hover {
    background: transparent !important;
    border: 0 !important;
    color: #FFFFFF !important;
    font-weight: 500; }
  .nav-tabs > li.disabled > a, .nav-tabs > li.disabled > a:hover {
    color: rgba(255, 255, 255, 0.5); }

.popover, .tooltip-inner {
  background: #323232;
  color: #FFF;
  border-radius: 2px; }

.tooltip, .tooltip.in {
  opacity: 1; }

.popover.left .arrow:after, .popover.left .tooltip-arrow, .tooltip.left .arrow:after, .tooltip.left .tooltip-arrow {
  border-left-color: #323232; }
.popover.right .arrow:after, .popover.right .tooltip-arrow, .tooltip.right .arrow:after, .tooltip.right .tooltip-arrow {
  border-right-color: #323232; }
.popover.top .arrow:after, .popover.top .tooltip-arrow, .tooltip.top .arrow:after, .tooltip.top .tooltip-arrow {
  border-top-color: #323232; }
.popover.bottom .arrow:after, .popover.bottom .tooltip-arrow, .tooltip.bottom .arrow:after, .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #323232; }

.icon-default {
  color: rgba(0, 0, 0, 0.84); }

.icon-primary {
  color: #4285f4; }

.icon-success {
  color: #0f9d58; }

.icon-info {
  color: #03a9f4; }

.icon-warning {
  color: #ff5722; }

.icon-danger {
  color: #f44336; }

.icon-material-red {
  color: #f44336; }

.icon-material-pink {
  color: #e91e63; }

.icon-material-purple {
  color: #9c27b0; }

.icon-material-deeppurple {
  color: #673ab7; }

.icon-material-indigo {
  color: #3f51b5; }

.icon-material-lightblue {
  color: #03a9f4; }

.icon-material-cyan {
  color: #00bcd4; }

.icon-material-teal {
  color: #009688; }

.icon-material-lightgreen {
  color: #8bc34a; }

.icon-material-lime {
  color: #cddc39; }

.icon-material-lightyellow {
  color: #ffeb3b; }

.icon-material-orange {
  color: #ff9800; }

.icon-material-deeporange {
  color: #ff5722; }

.icon-material-grey {
  color: #9e9e9e; }

.icon-material-bluegrey {
  color: #607d8b; }

.icon-material-brown {
  color: #795548; }

.icon-material-lightgrey {
  color: #ececec; }

.snackbar {
  background-color: #323232;
  color: rgba(255, 255, 255, 0.84);
  font-size: 14px;
  border-radius: 2px;
  height: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%); }

.snackbar.snackbar-opened {
  padding: 14px 15px;
  margin-bottom: 20px;
  height: auto;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, height 0 linear 0.2s;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, height 0 linear 0.2s;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

.snackbar.toast {
  border-radius: 200px; }

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1;
  box-sizing: border-box; }

.noUi-stacking .noUi-handle {
  z-index: 10; }

.noUi-stacking + .noUi-origin {
  *z-index: -1; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
          transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 10px; }

.noUi-horizontal .noUi-handle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  left: -10px;
  top: -5px; }

.noUi-horizontal.noUi-extended {
  padding: 0 15px; }

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px; }

.noUi-background {
  height: 2px;
  margin: 20px 0; }

.noUi-origin {
  margin: 0;
  border-radius: 0;
  height: 2px;
  background: #c8c8c8; }
  .noUi-origin[style^="left: 0"] .noUi-handle {
    background-color: #fff;
    border: 2px solid #c8c8c8; }
    .noUi-origin[style^="left: 0"] .noUi-handle.noUi-active {
      border-width: 1px; }

.noUi-target {
  border-radius: 2px; }

.noUi-handle {
  border-radius: 100%;
  cursor: default;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  border: 1px solid; }

.noUi-horizontal {
  height: 2px;
  margin: 15px 0; }

.noUi-horizontal .noUi-handle.noUi-active {
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5); }

[disabled].noUi-slider {
  opacity: 0.5; }

[disabled] .noUi-handle {
  cursor: not-allowed; }

.slider {
  background: #c8c8c8; }
